.drinkHead {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  color: var(--drink-head-color);
}

.drinkValue {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

.formDrink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.inputDrink {
  width: 100%;
  padding: 10px;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.calculateBtn {
  width: 80%;
  padding: 10px;
  background-color: #c0b5b5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--primary-text-color);
}
